/* elements */
.fire { color: #d88600; }
.shock { color: #00A3D8; }
.corrosive { color: #7ecb40; }
.slag { color: #9e00d8; }
.none { color: #ffffff; text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black; }

/* rarities */
.rare,.rare:hover { color:#28a6ff; text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black; }
.epic,.epic:hover { color:#d07bff; text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black; }
.etech,.etech:hover { color:#ff5cec; text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black; }
.legendary,.legendary:hover { color:#ffc338; text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black; }
.pearlescent,.pearlescent:hover { color: #4df2f2; text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black; }
.seraph,.seraph:hover { color: #ff99c8; text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black; }
.effervescent,.effervescent:hover { color:#ff7570; text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black; }

a.rare,a.epic,a.etech,a.legendary,a.pearlescent,a.effervescent,a.seraph { font-weight: bold; text-decoration: none; }

a.rare:hover,a.epic:hover,a.etech:hover,a.legendary:hover,a.pearlescent:hover,a.effervescent:hover,a.seraph:hover { text-decoration: underline; }
