.skill,.skill i { display: inline-block; width: 71px; height: 74px; }
.skill-spacer { display: inline-table; width: 71px; height: 74px; }
.skill { background-image: url('skilltree_cells.png'); background-size: 328px 444px; }

/* lootlemon */
.gray .skill.salvador img,
.skill.gray img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.skill img { margin-top: 4px; }
.skill img { padding-left: 3px; }

.skill.salvador.lockedloaded,
.skill.salvador.quickdraw,
.skill.salvador.inconceivable,
.skill.salvador.filledtothebrim,
.skill.salvador.hardtokill,
.skill.salvador.incite,
.skill.salvador.imyourhuckleberry,
.skill.salvador.allineedisone,
.skill.salvador.allinthereflexes,
.skill.salvador.lastlonger,
.skill.salvador.asbestos,
.skill.salvador.divergentlikeness,
.skill.salvador.autoloader,
.skill.salvador.moneyshot,
.skill.salvador.imreadyalready,
.skill.salvador.steadyasshegoes,
.skill.salvador.aintgottimetobleed,
.skill.salvador.fistfulofhurt,
.skill.salvador.outofbubblegum,
.skill.salvador.downnotout,
.skill.salvador.yippeekiyay,
.skill.salvador.doubleyourfun,
.skill.salvador.busthatcantslowdown,
.skill.salvador.justgotreal,
.skill.salvador.keepitpipinghot,
.skill.salvador.getsome,
.skill.salvador.sexualtyrannosaurus,
.skill.salvador.nokilllikeoverkill,
.skill.salvador.keepfiring,
.skill.salvador.comeatmebro,
.skill.zero.headsh0t,
.skill.zero.optics,
.skill.zero.precisi0n,
.skill.zero.onesh0tonekill,
.skill.zero.b0re,
.skill.zero.vel0city,
.skill.zero.killc0nfirmed,
.skill.zero.at0newiththegun,
.skill.zero.criticalascenti0n,
.skill.zero.fasthands,
.skill.zero.c0nterstrike,
.skill.zero.fearless,
.skill.zero.ambush,
.skill.zero.risingsh0t,
.skill.zero.deathmark,
.skill.zero.unf0rseen,
.skill.zero.innervate,
.skill.zero.tw0fang,
.skill.zero.deathbl0ss0m,
.skill.zero.killingbl0w,
.skill.zero.ir0nhand,
.skill.zero.belikewater,
.skill.zero.execute,
.skill.zero.backstab,
.skill.zero.resurgence,
.skill.zero.likethewind,
.skill.zero.manymustfall { background-position-x: -73px; background-position-y: -0px; }
.skill.salvador.laywaste,
.skill.salvador.fiveshotsor6,
.skill.salvador.imthejuggernaut,
.skill.zero.killer,
.skill.zero.grim,
.skill.zero.f0ll0wthr0ugh { background-position-x: -73px; background-position-y: -74px; }

.skill.salvador.lockedloaded.part,
.skill.salvador.quickdraw.part,
.skill.salvador.inconceivable.part,
.skill.salvador.filledtothebrim.part,
.skill.salvador.hardtokill.part,
.skill.salvador.incite.part,
.skill.salvador.imyourhuckleberry.part,
.skill.salvador.allineedisone.part,
.skill.salvador.allinthereflexes.part,
.skill.salvador.lastlonger.part,
.skill.salvador.asbestos.part,
.skill.salvador.divergentlikeness.part,
.skill.salvador.autoloader.part,
.skill.salvador.moneyshot.part,
.skill.salvador.imreadyalready.part,
.skill.salvador.steadyasshegoes.part,
.skill.salvador.aintgottimetobleed.part,
.skill.salvador.fistfulofhurt.part,
.skill.salvador.outofbubblegum.part,
.skill.salvador.downnotout.part,
.skill.salvador.yippeekiyay.part,
.skill.salvador.doubleyourfun.part,
.skill.salvador.busthatcantslowdown.part,
.skill.salvador.justgotreal.part,
.skill.salvador.keepitpipinghot.part,
.skill.salvador.getsome.part,
.skill.salvador.sexualtyrannosaurus.part,
.skill.salvador.nokilllikeoverkill.part,
.skill.salvador.keepfiring.part,
.skill.salvador.comeatmebro.part,
.skill.zero.headsh0t.part,
.skill.zero.optics.part,
.skill.zero.precisi0n.part,
.skill.zero.onesh0tonekill.part,
.skill.zero.b0re.part,
.skill.zero.vel0city.part,
.skill.zero.killc0nfirmed.part,
.skill.zero.at0newiththegun.part,
.skill.zero.criticalascenti0n.part,
.skill.zero.fasthands.part,
.skill.zero.c0nterstrike.part,
.skill.zero.fearless.part,
.skill.zero.ambush.part,
.skill.zero.risingsh0t.part,
.skill.zero.deathmark.part,
.skill.zero.unf0rseen.part,
.skill.zero.innervate.part,
.skill.zero.tw0fang.part,
.skill.zero.deathbl0ss0m.part,
.skill.zero.killingbl0w.part,
.skill.zero.ir0nhand.part,
.skill.zero.belikewater.part,
.skill.zero.execute.part,
.skill.zero.backstab.part,
.skill.zero.resurgence.part,
.skill.zero.likethewind.part,
.skill.zero.manymustfall.part { background-position-x: -145px; background-position-y: -0px; }
.skill.salvador.laywaste.part,
.skill.salvador.fiveshotsor6.part,
.skill.salvador.imthejuggernaut.part,
.skill.zero.killer.part,
.skill.zero.grim.part,
.skill.zero.f0ll0wthr0ugh.part { background-position-x: -145px; background-position-y: -74px; }

.skill.salvador.lockedloaded.full,
.skill.salvador.quickdraw.full,
.skill.salvador.inconceivable.full,
.skill.salvador.filledtothebrim.full,
.skill.salvador.hardtokill.full,
.skill.salvador.incite.full,
.skill.salvador.imyourhuckleberry.full,
.skill.salvador.allineedisone.full,
.skill.salvador.allinthereflexes.full,
.skill.salvador.lastlonger.full,
.skill.salvador.asbestos.full,
.skill.salvador.divergentlikeness.full,
.skill.salvador.autoloader.full,
.skill.salvador.moneyshot.full,
.skill.salvador.imreadyalready.full,
.skill.salvador.steadyasshegoes.full,
.skill.salvador.aintgottimetobleed.full,
.skill.salvador.fistfulofhurt.full,
.skill.salvador.outofbubblegum.full,
.skill.salvador.downnotout.full,
.skill.salvador.yippeekiyay.full,
.skill.salvador.doubleyourfun.full,
.skill.salvador.busthatcantslowdown.full,
.skill.salvador.justgotreal.full,
.skill.salvador.keepitpipinghot.full,
.skill.salvador.getsome.full,
.skill.salvador.sexualtyrannosaurus.full,
.skill.salvador.nokilllikeoverkill.full,
.skill.salvador.keepfiring.full,
.skill.salvador.comeatmebro.full,
.skill.zero.headsh0t.full,
.skill.zero.optics.full,
.skill.zero.precisi0n.full,
.skill.zero.onesh0tonekill.full,
.skill.zero.b0re.full,
.skill.zero.vel0city.full,
.skill.zero.killc0nfirmed.full,
.skill.zero.at0newiththegun.full,
.skill.zero.criticalascenti0n.full,
.skill.zero.fasthands.full,
.skill.zero.c0nterstrike.full,
.skill.zero.fearless.full,
.skill.zero.ambush.full,
.skill.zero.risingsh0t.full,
.skill.zero.deathmark.full,
.skill.zero.unf0rseen.full,
.skill.zero.innervate.full,
.skill.zero.tw0fang.full,
.skill.zero.deathbl0ss0m.full,
.skill.zero.killingbl0w.full,
.skill.zero.ir0nhand.full,
.skill.zero.belikewater.full,
.skill.zero.execute.full,
.skill.zero.backstab.full,
.skill.zero.resurgence.full,
.skill.zero.likethewind.full,
.skill.zero.manymustfall.full { background-position-x: -217px; background-position-y: -0px; }
.skill.salvador.laywaste.full,
.skill.salvador.fiveshotsor6.full,
.skill.salvador.imthejuggernaut.full,
.skill.zero.killer.full,
.skill.zero.grim.full,
.skill.zero.f0ll0wthr0ugh.full { background-position-x: -217px; background-position-y: -74px; }
